<a href="https://colab.research.google.com/github/SHAWEJ/python-programming-2/blob/main/python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Section A: FUNDAMENTALS OF PYTHON**

In [1]:
# Write a python program to print"hello python"
a= "Hello Python"
print(a)

Hello Python

In [2]:
# Write a python program to do arithmetical operations addition and division.
a=20
b=10
print(a+b)
print(a/b)

30
2.0

In [3]:
# Write a python program to find the area of a triangle.
base=30
height=60
print(0.5*base*height)

900.0

In [4]:
# Write a python program to swap two variables.
a=10
b=20
a,b=b,a
print("a= ",a)
print("b= ",b)

a=  20
b=  10

In [5]:
# Write a python program to generate a random number.
import random
n=random.random()
print("Number= ",n)

Number=  0.07725185280994917

***Section B:***

In [7]:
# Write a python program to convert kilometer to miles.
kilometer = float(input("enter kilometer value: "))
miles = kilometer*0.621371
print(kilometer,"kilometer is equal to",miles,"miles")

enter kilometer value: 20
20.0 kilometer is equal to 12.42742 miles

In [ ]:
# Write a python program to convert celsius to fahrenheit.
celsius = float(input("enter the value of temperatue in degree celsius: "))
fahrenheit = (celsius*1.8) + 32
print(celsius,"degree celsius is equal to",fahrenheit,"fahrenheit")

In [ ]:
# write a python program to display calendar.
import calendar 
year = int(input("enter the year: "))
mon= int(input("enter the month: "))
print(calendar.month(year,mon))

enter the year: 2006
enter the month: 10
    October 2006
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [8]:
# Write a p[ython program to display calendar.
import calendar
yy= 2024
print(calendar.calendar(yy))

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [9]:
# Write a python program to solve quadratic equation.
import cmath
a = 1
b = 5
c = 6
d = (b**2)-(4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solutions are {0} and {1}'.format(sol1,sol2))

The solutions are (-3+0j) and (-2+0j)

In [10]:
# Write a python program to swap two variables without temp variable.
x = 10
y = 5
x = x+y
y = x-y
x = x-y
print('After swapping: x =',x,'y=',y)

After swapping: x = 5 y= 10

In [11]:
# Write a python program to check if a number is positive,negative or zero.
num = float(input("Enter a number: "))
if num >= 0:
  if num == 0:
    print("Zero")
  else:
    print("Positive number")
else:
  print("Negative number")

Enter a number: 25
Positive number

In [12]:
# Write a python program to check if a number is odd or even.
num = int(input("Enter a number:"))
if (num%2)==0:
  print("{0} is Even".format(num))
else:
  print("{0} is Odd".format(num))

Enter a number:5
5 is Odd

In [13]:
# Write a python program to check leap year. 
year = int(input("Enter a year: "))
if ((year % 4 == 0) and (year % 100 == 0) or (year%400 == 0)):
  print("{0} is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

Enter a year: 24
24 is not a leap year

In [14]:
# Write a python program to check prime number.
num = int(input("Enter a number: "))
flag = False
if num > 1:
  for i in range(2,num):
    flag = True
    break
if flag:
  print(num, "is not a prime number")
else:
  print(num, "is a prime number")

Enter a number: 24
24 is not a prime number

In [15]:
# Write a python program to print all prime numbers in an interval of 1-10000.
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))
print("Prime numbers between",lower, "and", upper, "are:")
for num in range(lower ,upper + 1):
  if num > 1:
    for i in range(2, num):
      if (num % i) == 0:
        break
    else:
        print(num)

Enter lower range: 4
Enter upper range: 6
Prime numbers between 4 and 6 are:
5

***section:D***

In [16]:
# Write a python program to find the factorial of a number.
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
  print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
  print("the factorial of 0 is 1")
else:
  for i in range(1,num + 1):
    factorial = factorial*i
  print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

In [17]:
# Write a python program to display the multiplication table.
num = int(input("Display multiplication table of: "))
for i in range(1,11):
  print(num,"x", i, "=",num*i)

Display multiplication table of: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [18]:
# Write a python program to print fibonacci sequence.
nterms = int(input("How many terms?"))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
  print("please enter a positive integer")
elif nterms == 1:
  print("Fibonacci sequence upto",nterms,":")
  print(n1)
else:
  print("Fibonacci sequence:")
  while count < nterms:
    print(n1)
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count +=1

How many terms?85
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088

In [19]:
# Write a python program to check armstrong number.
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
  digit = temp % 10
  sum += digit**3
  temp //= 10
if num == sum:
  print(num,"is an Armstrong number.")
else:
  print(num,"is not an Armstrong number.")

Enter a number: 5
5 is not an Armstrong number.

In [20]:
# Write a python program to find armstrong number in an interval.
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))
for num in range(lower , upper + 1):
  order = len(str(num))
  sum = 0
  temp = num
  while temp > 0:
    digit = temp % 10
    sum += digit**order
    temp//= 10
  if num == sum:
    print(num)

Enter lower range: 7
Enter upper range: 3

In [21]:
# Write a python program to find the sum of natural numbers.
num = int(input("Enter a number upto which you want to sum: "))
if num < 0:
  print("Enter a positive number")
else:
  sum = 0
  while(num > 0):
    sum += num
    num -= 1
  print("The sum is", sum)

Enter a number upto which you want to sum: 7
The sum is 28

***section:E***

In [22]:
#Write a python program to find sum of array.
def _sum(arr):
  sum=0
  for i in arr:
    sum = sum+i
  return(sum)
arr = [34,23,4,21,2]
n = len(arr)
ans = _sum(arr)
print("sum of the narray is ",ans)

sum of the narray is  84

In [23]:
#Write a python program to find largest element in an array.
def largest(arr, n):
    arr.sort()
    return arr [n-1]
arr = [324,888,32,45]
n= len(arr)
a= largest(arr,n)
print("Largest in given array", largest(arr,n))

Largest in given array 888

In [24]:
#Write a python program for array rotation.
arr = [1,2,3,4,5]
n = 3

print("Original array= ")
for i in range(0,len(arr)):
  print(arr[i])

for i in range(0,n):
    first = arr[0]
    for j in range(0,len(arr)-1):
      arr[j] = arr[j+1]
    arr[len(arr)-1] = first
print("Array after left rotation = ")
for i in range(0,len(arr)):
  print(arr[i])

Original array=
1
2
3
4
5
Array after left rotation =
4
5
1
2
3

In [25]:
#Write a python program to split the array nd add the first part to end.
def splitArr(a, n, k):
    b = a[ :k]
    return(a[k::]+b[::])
arr = [12, 10, 5, 6, 52, 36]
n = len(arr)
position = 2
arr = splitArr(arr,n,position)
for i in range(0, n):
    print(arr[i], end =' ')

5 6 52 36 12 10

In [26]:
#Write a python program to check if given array is monotonic.
def isMonotonic(A):
  return(all(A[i]<= A[i+1] for i in range(len(A) -1))or all(A[i] >= A[i+1] for i in range(len(A) - 1)))
A = [6,5,4,4]
print(isMonotonic(A))

True

***section:F***

In [27]:
# Write a python program to find sum of elements in list.
def _sum(arr):
  sum = 0
  for i in arr:
    sum = sum + i
  return(sum)
lst = [2,6,7,13,5]
d = _sum(lst)
print(d)

33

In [28]:
#Write a python program to multiply all numbers in a list.
list1 = [1,2,3]
list2 = [3,2,4]
from functools import reduce
import operator
print(reduce(operator.mul,list1,1))
print(reduce(operator.mul,list2,1))

6
24

In [29]:
# Write a python program to find smallest number in a list.
list1 = [10,20,1,45,99]
print("Smallest element is:",min(list1))

Smallest element is: 1

In [30]:
# Write a python program to find largest number in a list.
list2 = [10,20,1,45,99]
print("Largest element is:",max(list2))

Largest element is: 99

In [31]:
# Write a python program to find Second largest number in a list.
list1 = [10,20,20,4,45,45,99,99]
new_list = set(list1)
new_list.remove(max(new_list))
print(max(new_list))

45

In [32]:
# Write a python program to find N largest number in a list.
l = [1000,298,400,300,234,-57,4325]
n = int(input("How many largest element you want "))
l.sort()
print(l[-n:])

How many largest element you want 55
[-57, 234, 298, 300, 400, 1000, 4325]

In [33]:
# Write a python program to print even number in a list.
#By usiong for loop.
list1 = [10,21,4,45,66,93]
for num in list1:
  if num%2 ==0:
    print(num,end=" ")

10 4 66

In [34]:
# Write a python program to print even numbers in a list.
# By using While loop.

list1 = [10,24,4,45,66,93]
num = 0 
while(num < len(list1)):
   if list1[num] % 2 == 0:
      print(list1[num],end=" ")
   num += 1

10 24 4 66

In [35]:
# Write a python program to print odd numbers in a list.
# By using for loop.
list2 = [10,21,4,45,66,93]
for num in list1:
  if num%2!=0:
    print(num,end =" ")

45 93

In [36]:
# Write a python program to print odd numbers in a list.
# By using While loop.
list2 = [10,21,4,45,66,93]
i =0
while(i< len(list2)):
  if list2[i] % 2 !=0:
    print(list2[i],end=" ")
  i += 1

21 45 93

In [37]:
# Write a python program to Remove empty list from list.
test_list = [5,6,[],3,[],[],9]
print("The original list is : " + str(test_list))
while [] in test_list:
  test_list.remove([])
print("List after empty list removal: " + str(test_list))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal: [5, 6, 3, 9]

In [38]:
# Write a python program to Cloning or Copying a list.
def Cloning(li1):
    li_copy = li1.copy()
    return li_copy
li1 = [4,8,2,10,15,18]
li2 = Cloning(li1)
print("Original list: ",li1)
print("After Clloning: ",li2)

Original list:  [4, 8, 2, 10, 15, 18]
After Clloning:  [4, 8, 2, 10, 15, 18]

In [39]:
# Write a python program to count occurrence of elelment in a list.
def countX(lst,x):
    return lst.count(x)
lst = [8,6,8,10,8,20,10,8,8,9]
x = 8
print("{} has occurred {} times".format(x,countX(lst,x)))

8 has occurred 5 times